*
{
	margin: 0;
	padding: 0;
}

.wrapper 
{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header
{
    height: 100px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    background: #373737;
    color: white;
    letter-spacing: 5px;
    text-align: center;
    flex-wrap: wrap;
}
.main {
    flex: 1;
    display: flex;
    background: #F4F4F4;
}

.leftPanel
{
	flex: 1;
	background: #f1f1f1;
}

.rightPanel
{
	width: 340px;
	background: #d4d4d4;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.footer 
{
	height: 30px;
	color: white;
	background: #33393D;
}

.myForm
{
	height: 300px;
	width: 300px;
	background: white;
	border-radius: 5px;
	padding: 15px;
}

@media(max-width: 700px)
{
	.main
	{
		flex-direction: column;
	}
	.leftPanel
	{
		flex: 1;
		width: 100%;
	}
	.rightPanel
	{
		height: 300px;
		width: 100%;
	}
}